/* shared styles  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap");
:root {
  --primary--color: #ff5400;
  --dark-color: #424247;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

.orange-text,
#orange-text {
  color: var(--primary--color);
}

.header,
section {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
section {
  margin-top: 6.26em;
}

/* nav styles */

nav {
  margin-top: 1.3em;
  margin-bottom: 3.12em;
}
.nav-container,
.logo-area {
  display: flex;
}
.logo {
  height: 3.5em;
}
.co-name {
  font-size: 2.25em;
  margin: auto 0 auto 1em;
  margin-left: 1em;
}
.nav-container {
  margin: auto;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  color: var(--dark-color);
  text-align: center;
  font-size: 1.12em;
  margin-left: 1.137em;
}
.fa-bars {
  display: none;
}

/* banner styles */

.header-container {
  background-image: url("../Images/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 24.25em;
  text-align: center;
  border-radius: 0.5em;
}
.banner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.banner-title {
  color: #fff;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 0.5em;
}
.banner-desc {
  color: white;
  margin-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;
}
.destination-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  height: 3.25em;
  padding: 1em 1em 1em 1em;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.8em;
}
.primary-btn {
  color: #fff;
  border: 0;
  background-color: var(--primary--color);
  height: 3.25em;
  width: 10.87em;
  border-radius: 8px;
}

.destination-form input[type="text"],
.destination-form select {
  border: 0;
  background-color: white;
  height: 3.25em;
  width: 10.87em;
  border-radius: 8px;
  margin-right: 1em;
  padding-left: 0.3em;
}
#select-type,
#when,
#where-go {
  color: rgba(19, 19, 24, 0.5);
}

/* popular tour section style goes here  */
.popular-tour {
  display: flex;
}
.popular-tour-column {
  width: 50%;
}
.popular-tour-column-img {
  width: 100%;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.section-desc {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1em;
  margin-bottom: 0.5em;
}
.popular-desc-container li {
  padding: 0.5em;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1em;
}

/* gallary styles goes here  */

.title-container {
  text-align: center;
}

#gallary-title-container > .section-desc {
  padding-right: 10%;
  padding-left: 10%;
}

.gallary-img-row {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.gallary-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.gallary-item > p {
  position: absolute;
  color: #fff;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 800;
  color: white;
}
.gallary-item > img {
  max-height: 14em;
}
/* why choose us section style goes here  */
.item-row {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}
.item-row img {
  margin: 2em;
}
.item-row .item-title {
  margin: 0em 0em 1em 1em;
}
.item-row p {
  margin: 0em 0em 1em 1em;
  color: #5a5a5d;
  font-size: 1em;
  font-weight: 400;
}

.section-desc {
  margin-bottom: 3em;
}

.section-item {
  width: calc(100% - 1em);
  border-radius: 1em;
}
#world-class-service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#handpicked-hotels {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#best-price-guarantee {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
}
#best-price-guarantee-row {
  justify-content: center;
  margin-top: 1em;
}
/* deals and discount goes here  */

.icon-container {
  display: flex;
  margin-bottom: 1.4em;
  justify-content: space-between;
}

.deal-n-discount div:nth-child(2),
.deal-n-discount div:nth-child(3),
.deal-n-discount div:nth-child(4) {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  justify-content: end;
}

.deal-n-discount div:nth-child(2) {
  background-image: url("../Images/bg-1.png");
  margin-bottom: 1.2em;
}
.deal-n-discount div:nth-child(3) {
  background-image: url("../Images/bg-2.png");
  justify-content: start;
  margin-bottom: 1.2em;
}
.deal-n-discount div:nth-child(4) {
  background-image: url("../Images/bg-1.png");
  border-radius: 1em;
}

.deal-n-discount .section-row {
  width: 100%;
  max-height: 31.25em;
  display: flex;
}

.deal-n-discount .section-item {
  margin: 2em;
  background-color: rgba(251, 255, 255, 0.8);
  width: 21em;
  justify-items: center;
  padding: 3em;
}
.icon-container > p {
  color: #5a5a5d;
  font-size: 1em;
  font-weight: 400;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.item-title {
  margin-bottom: 1em;
}
.deal-n-discount .item-desc {
  color: #5a5a5d;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}
.deal-n-discount .price {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: var(--primary--color);
  font-size: 20px;
  font-weight: 800;
}
.btn-container {
  text-align: center;
  margin-top: 2em;
}

/* video section style goes here  */
.video-section {
  display: flex;
  gap: 1em;
}
.video-title-container {
  width: calc(50% - 0.5em);
}

.video-title-container li {
  color: #131318;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
}

.video-title-container ul {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.video-title-container .section-desc {
  margin-bottom: 2em;
}
.video-title-container .section-title {
  margin-bottom: 0.5em;
}
.video-title-container .section-title {
  margin-bottom: 0.5em;
}

.video-container {
  width: calc(50% - 0.5em);
}
.video-container iframe {
  width: 100%;
  border-radius: 1em;
}

/* news letter style goes here  */
.newsletter {
  display: flex;
  gap: 1em;
}
.newsletter-form-container {
  padding: 1.5em;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: calc(35% - 0.5em);
}
.newsletter-form-container .item-desc {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1em;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.newsletter-form > * {
  width: 100%;
  height: 3em;
  border: 0;
  border-radius: 8px;
  margin-top: 0.5em;
}
.newsletter-form > input {
  background: rgba(19, 19, 24, 0.05);
}
.newsletter-form > input::placeholder {
  padding-left: 0.6em;
}
.newsletter-img-container {
  background-image: url("../Images/newsletter-img.png");
  position: relative;
  width: calc(65% - 0.5em);
  height: 25em;
  background-position: center;
  border-radius: 1em;
  background-size: cover;
}
.newsletter-img-container img {
  position: absolute;
}

.newsletter-bg-img {
  width: 100%;
}
.newsletter-rectangle-img {
  width: 40%;
  right: 0;
  bottom: 0;
}
.newsletter-save-upto-img {
  width: 30%;
  bottom: 12%;
  left: 65%;
}
.newsletter-travel-com-img {
  width: 20%;
  left: 70%;
  bottom: 9%;
}

/* mobile screen style goes here ------------------------------mobile ----------- */

@media (max-width: 640px) {
  /* shared styles  */
  section {
    margin-top: 1em;
    width: 90%;
  }
  /* header styles for mobile  */
  .header {
    width: 90%;
  }
  .header-container {
    border-radius: 1em;
    height: 29em;
  }
  .nav-container {
    width: 90%;
  }
  .logo {
    height: 2em;
  }
  .fa-bars {
    display: block;
  }
  .menu ul {
    display: none;
  }
  .co-name {
    font-size: 1.34em;
  }
  /* banner style for mobile  */
  .banner-title {
    font-size: 1.37em;
    font-style: bold;
    /* padding-top: 1em; */
  }
  .banner-desc {
    font-size: 0.87em;
  }
  .destination-form {
    height: 16em;
    width: 80%;
  }
  .destination-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  form {
    width: 80%;
  }
  .destination-form input[type="text"],
  .destination-form select,
  #find-now {
    width: 90%;
    margin: auto;
  }

  /* popular tour section style for mobile goes here  */
  .popular-tour {
    flex-direction: column;
  }
  .popular-tour-column {
    width: 100%;
  }
  .popular-desc-container button {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .list-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* gallary */

  .gallary-img-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* why choose us section style for mobile goes here  */
  .item-row {
    flex-direction: column;
    align-items: center;
  }
  #best-price-guarantee {
    width: calc(100% - 16px);
  }

  /* deal and discount for mobile styles goes here  */

  .deal-n-discount div:nth-child(2),
  .deal-n-discount div:nth-child(3),
  .deal-n-discount div:nth-child(4) {
    justify-content: center;
    padding-top: 12em;
  }

  /* video section styles goes here  */
  .video-section {
    display: flex;
    flex-direction: column;
  }
  .video-title-container {
    width: 100%;
  }

  .video-container {
    width: 100%;
  }
  .video-container iframe {
    height: 16em;
  }
  /* news letter style goes here  */
  .newsletter {
    flex-direction: column;
  }

  .newsletter-form-container {
    width: 90%;
  }
  .newsletter-img-container {
    width: 100%;
  }
  .newsletter-form-container form {
    width: 100%;
  }
}
